apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-operator
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "8"
spec:
  project: monitoring
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: prometheus-operator
    targetRevision: 9.0.0
    helm:
      values: |
        prometheusOperator:
          enabled: true

        # DO NOT deploy operator-managed Prometheus
        prometheus:
          enabled: false

        # DO NOT deploy operator-managed Alertmanager
        alertmanager:
          enabled: false

        # CRDs are what we actually want
        crds:
          enabled: true

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
