apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-operator-crds
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "8"
spec:
  project: monitoring
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  source:
    repoURL: https://github.com/prometheus-operator/prometheus-operator
    targetRevision: main
    path: example/prometheus-operator-crd

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
