apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: monitoring
data:
  collector.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
          http:

    processors:
      batch:

    exporters:
      otlphttp/loki:
        endpoint: http://loki-gateway.monitoring.svc.cluster.local/otlp

      otlphttp/mimir:
        endpoint: http://mimir-gateway.monitoring.svc.cluster.local/otlp

      otlp/tempo:
        endpoint: tempo-distributor.monitoring.svc.cluster.local:4317
        tls:
          insecure: true

    service:
      pipelines:
        logs:
          receivers: [otlp]
          processors: [batch]
          exporters: [otlphttp/loki]

        metrics:
          receivers: [otlp]
          processors: [batch]
          exporters: [otlphttp/mimir]

        traces:
          receivers: [otlp]
          processors: [batch]
          exporters: [otlp/tempo]
